<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>64901511903-i24vb3iuovf6dvgjeaea4blc43dn7naf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAXvof7XWlIGOM-RUjLG9hCtiQujXrUB98</string>
	<key>GCM_SENDER_ID</key>
	<string>64901511903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.padisoft.pofelAppIos</string>
	<key>PROJECT_ID</key>
	<string>pofelapp-420</string>
	<key>STORAGE_BUCKET</key>
	<string>pofelapp-420.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:64901511903:ios:fbff39ec5b82571595c76a</string>
	<key>DATABASE_URL</key>
	<string>https://pofelapp-420-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>